body {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Questrial', 'Rubik', 'Oxygen', 'Dosis', 'Titillium Web', sans-serif;
}


/* Customize container */
@media (min-width: 700px) {
  .container {
    max-width: 700px;
  }
}

.panel .table td:first-child {
    width: 60%;
}